.top-bar {
    display: flex;
}

#excel-btn {
    margin-top: 6px;
    margin-left: 10px;
}

#logout-btn {
    margin-top: 6px;
    margin-left: 10px;
}

.top-bar > div {
    margin: 0 auto;
}

